body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #0b1220;
	color: #bd9d4b;
  overflow-x: hidden;
}

head {
  overflow-x: hidden;
}
.navbar {
	position: sticky;
	top: 0;
	z-index: 999;
	background: #070707;
	padding: 18px 0 0 0;
	border-bottom-style: solid;
	border-color: #bd9d4b;
	text-align: center;
}

.brand {
	font-weight: bold;
	letter-spacing: 0.1px;
	color: #bd9d4b;
	font-size: 2.5rem;
	margin: 20px 0;
	font-weight: 700;
}

.menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 25px;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #bd9d4b;
	border-radius: 12px;
	padding: 25px;
	background: #0c0f18;
	transition: transform 0.18s ease;
	scale: 0.9;
}

.menu-item:hover {
	transform: translateY(-5px) scale(1.05);
}

.item-btn-left {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.item-name {
	font-size: 1.5rem;
	font-weight: 700;
	color: white;
}

.item-price {
	font-size: 1rem;
	font-style: italic;
	color: #d4c27b;
	margin-bottom: 12px;
}

.ex-img img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	border: 2px solid #222;
}

.plus-btn,
.qnty-display {
	width: 55px;
	height: 55px;
	border: 2px solid #bd9d4b;
	background: transparent;
	color: #bd9d4b;
	font-size: 1.4rem;
	border-radius: 12px;
	cursor: pointer;
	transition: transform 0.25s ease;
	margin: 0px 10px;
}

.minus-btn {
	width: 55px;
	height: 55px;
	border: 2px solid #bd9d4b;
	background: transparent;
	color: #bd9d4b;
	font-size: 1.4rem;
	border-radius: 12px;
	cursor: pointer;
	transition: transform 0.25s ease;
	margin: 0px 10px 0px 0px;
}

.del-btn {
	width: 55px;
	height: 55px;
	border: 2px solid #bd9d4b;
	background: transparent;
	color: #bd9d4b;
	font-size: 1.4rem;
	border-radius: 12px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 80px;
	overflow: hidden;
	position: relative;
	transition: color 0.5s ease, background 0.5s ease;
}

.del-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: #bd9d4b;
	z-index: -1;
	transition: left 0.5s ease;
}

.del-btn:hover::before {
	left: 0;
}

.del-btn:hover {
	color: #000;
	background: #bd9d4b;
}

.qnty-display:hover {
	animation: qnty-shake 0.35s linear infinite alternate;
}

.plus-btn:hover {
	animation: qnty-shake 0.35s linear infinite alternate;
}

.minus-btn:hover {
	animation: qnty-shake 0.35s linear infinite alternate;
}

@keyframes qnty-shake {
	0% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}

.cart-container {
	position: absolute;
	top: 10px;
	right: 25px;
	z-index: 999;
}

.cart-btn {
	position: relative;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.cart-icon {
	height: 40px;
}

.cart-count {
	position: absolute;
	top: 1px;
	left: 23px;
	background: #bd9d4b;
	color: black;
	font-size: 0.65rem;
	font-weight: 700;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid black;
	pointer-events: none;
}

.category-indicator {
  grid-column: 1 / -1;
  display: block;
  margin-bottom: 10px; 
text-align: center;
	color: #bd9d4b;
}

