body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  color: #e8e6e3;
  background-color: #0b1220; 
}

.navigations {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #070707;
  padding: 18px 0 0 0;
  border-bottom-style: solid;
  border-color: #bd9d4b;;
  text-align: center;
}

.navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bd9d4b;
}

.restaurant-name {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1px;
}

.restaurant-motto {
  font-size: 25px;
  font-style: italic;
  margin-top: 4px;
}

.pagenav {
  padding: 15px 30px;
  margin: 10px 20px;
  background-color: black;
  border-width: 3.2px;
  border-color: #bd9d4b;
  border-radius: 15px;
  transition-duration: 2.5s;
}

.pagenav>a {
  text-decoration: none;
  color: #bd9d4b;
  font-size: 15px;
  font-weight: bold;
}

.pagenav:hover {
  padding: 30px 60px;
  border-width: 5px;
  transition-duration: 1s;
}

.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url('group-bombay-chat-food-includes-golgappapanipuri-shutterstock_1422412163.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.hero-content {
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.white-bg {
  background-color: rgba(225, 225, 225, .9);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.menu-button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: blanchedalmond;
  border: 2px solid dodgerblue;
  transition: all 0.3s;
}

.menu-button:hover {
  background-color: dodgerblue;
  color: white;
}

.h1gradient {
  background: linear-gradient(to right, #04ec3a, #8da502, #f56a00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}

.h2gradient {
  background: linear-gradient(to right, #313f02, #029b14, #ea6806);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}
